# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
MONGODB_COLLECTIONNAME=
MONGO_CONNECTION_STRING=
dockerPassword= 
dockerUsername=
HEROKU_API_KEY=
HEROKU_USERNAME=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
WEBHOOK_URL= #add this to your travis ci
