{% extends "base.html" %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <br></br>
    <h1 style="display:inline"></h1>

    {% if strRole == False %}<button style="display:inline"
      class="btn btn-success float-right" onclick="window.location.href='/new'">+ New Task</button>{% endif %}
    <a style="display:inline" class="btn btn-outline-secondary float-left" href="/getpreviousdonetasks">Show older done
      tasks</a>
    <a style="display:inline" class="btn btn-outline-secondary float-left" href="/gettodaydonetasks">Show today done
      tasks</a>


    <br></br>
    <input class="form-control" type="text" id="myInput" onkeyup="searchTask()" placeholder="Search for task.."></input>
    <br></br>

    <details open>
      <summary>TO DO</summary>
      <table id="dtToDo" class="table-bordered table-hover table-striped table-sm" cellspacing="0" width="100%">
        <caption></caption>
        <thead>
          <tr>
            <th class="th-sm" style="display:none">#</th>
            <th class="th-sm" style="width: 60%">Title</th>
            <th class="th-sm" style="width: 10%">Due Date</th>
            <th class="th-sm" style="width: 10%">Status</th>
            <th class="th-sm" style="width: 20%">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for task in view_model.todo %}
          <tr class="to-do-task">
            <td style="display:none">{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ (task.due) }}</td>
            <td>{{ task.status }}</td>
            <td>
              {% if strRole == False %}
              <button id="todo_edit" class="btn btn-outline-success btn-group-sm ml-3" style="display:inline"
                onclick="window.location.href='/edit/{{task.id}}'">Edit</button>
              <button id="todo_delete" class="btn btn-outline-danger btn-group-sm ml-3" style="display:inline"
                onclick="window.location.href='/delete/{{task.id}}'">Delete</button>
              {% endif %}
            </td>
          </tr>
          {% endfor%}
        </tbody>
        <tfoot </tfoot>
      </table>
    </details>

    <details open>
      <summary>DOING</summary>
      <table id="dtDoing" class="table-bordered table-hover table-striped table-sm" cellspacing="0" width="100%">
        <caption></caption>
        <thead>
          <tr>
            <th class="th-sm" style="display:none">#</th>
            <th class="th-sm" style="width: 60%">Title</th>
            <th class="th-sm" style="width: 10%">Due Date</th>
            <th class="th-sm" style="width: 10%">Status</th>
            <th class="th-sm" style="width: 20%">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for task in view_model.doing %}
          <tr>
            <td style="display:none">{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.due }}</td>
            <td>{{ task.status }}</td>
            <td>
              {% if strRole == False %}
              <button id="doing_edit" class="btn btn-outline-success btn-group-sm ml-3" style="display:inline"
                onclick="window.location.href='/edit/{{task.id}}'">Edit</button>
              <button id="doing_delete" class="btn btn-outline-danger btn-group-sm ml-3" style="display:inline"
                onclick="window.location.href='/delete/{{task.id}}'">Delete</button>
              {% endif %}
            </td>
          </tr>
          {% endfor%}
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </details>

    <details open>
      <summary>RECENT</summary>
      <table id="dtDone" class="table-bordered table-hover table-striped table-sm" cellspacing="0" width="100%">
        <caption></caption>
        <thead>
          <tr>
            <th class="th-sm" style="display:none">#</th>
            <th class="th-sm" style="width: 60%">Title</th>
            <th class="th-sm" style="width: 10%">Due Date</th>
            <th class="th-sm" style="width: 10%">Status</th>
            <th class="th-sm" style="width: 20%">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for task in view_model.show_all_done_items %}
          <tr>
            <td style="display:none">{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.due }}</td>
            <td>{{ task.status }}</td>
            <td>
              {% if strRole == False %}
              <button class="btn btn-outline-success btn-group-sm ml-3" style="display:inline"
                onclick="window.location.href='/edit/{{task.id}}'">Edit</button>
              <button class="btn btn-outline-danger btn-group-sm ml-3" style="display:inline"
                onclick="window.location.href='/delete/{{task.id}}'">Delete</button>
              {% endif %}
            </td>
          </tr>
          {% endfor%}
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </details>

  </div>
</div>

<script>
  function searchTask() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("dtToDo");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];;
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }

    table = document.getElementById("dtDoing");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];;
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }

    table = document.getElementById("dtDone");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];;
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }


  }


</script>


{% endblock %}