{% extends "base.html" %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <br></br>
    <h1 style="display:inline"></h1>

    <a style="display:inline" class="btn btn-success float-right" href="/">Home</a>

    <br></br>
    <input class="form-control" type="text" id="myInput" onkeyup="searchTask()" placeholder="Search for task.."></input>
    <br></br>

    <details open>
      <summary>Done - Show all older tasks</summary>
      <table id="dtDone" class="table-bordered table-hover table-striped table-sm" cellspacing="0" width="100%">
        <caption></caption>
        <thead>
          <tr>
            <th class="th-sm" style="display:none">#</th>
            <th class="th-sm" style="width: 60%">Title</th>
            <th class="th-sm" style="width: 10%">Due Date</th>
            <th class="th-sm" style="width: 10%">Status</th>
            <th class="th-sm" style="width: 20%">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for task in view_model.older_done_items %}
          <tr>
            <td style="display:none">{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ (task.due).strftime("%Y-%m-%d") }}</td>
            <td>{{ task.status }}</td>
            <td>
              {% if strRole == False %} <button class="btn btn-outline-success btn-group-sm ml-3"
                style="display:inline" onclick="window.location.href='/edit/{{task.id}}'">Edit</button> {% endif %}
              {% if strRole == False %} <button class="btn btn-outline-danger btn-group-sm ml-3"
                style="display:inline" onclick="window.location.href='/delete/{{task.id}}'">Delete</button>{% endif %}
            </td>
          </tr>
          {% endfor%}
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </details>

  </div>
</div>

<script>
  function searchTask() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("dtDone");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];;
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }



</script>


{% endblock %}